*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}

.gallery{
    display: inline-block;
    width: 200px;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 1px solid hsl(0, 0%, 30%);
}

.gallery img{
    width: 100%;
    height: auto;
}

.fa-solid.fa-house{
    color: hsl(0, 0%, 60%);
}

.fa-solid.fa-house:hover{
    color: hsl(0, 0%, 80%);
}

.fa-solid.fa-music{
    color: hsl(304, 100%, 50%);
}

.fa-solid.fa-music:hover{
    color: hsl(304, 100%, 80%);
}

.fa-solid.fa-font {
    color: hsl(30, 100%, 50%);
}

.fa-solid.fa-font:hover {
    color: hsl(30, 100%, 80%);
}

.fa-solid.fa-b {
    color: hsl(120, 100%, 50%);
}

.fa-solid.fa-b:hover {
    color: hsl(120, 100%, 90%);
}